.controls button {
  cursor: pointer;
}

.navbar {
  bottom: 0;
  left: 40%;
  position: fixed;
  width: 100%;
}

#player {
  border: 1px solid #000;
  margin-top: 15px;
  padding: 5px;
  position: absolute;
  z-index: 1;
}

.question {
  color: #fff;
  display: none;
  font-weight: bold;
  margin-left: 10%;
  margin-top: 5%;
  position: absolute;
  z-index: 2;
}
